@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
*{
  margin: 0;
  font-family: 'Poppins', sans-serif; 
  box-sizing: border-box;
  padding: 0;
}

body{
  padding: 0;
  overflow-y: scroll;
  background-image: linear-gradient(to top, rgb(0, 0, 10), rgb(3, 2, 44));
}



/* NAVBAR */


/* WELCOME */

.welcome-box {
  height: 100vh;
  background-color: rgb(3, 2, 44);
  display: grid;
  place-items: center;
  font-family: 'Poppins', sans-serif;
  color: white;
  clear: both;


}

.glitch {
  font-size: 8rem;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;

  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);

  animation: glitch 500ms infinite;
}


.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}


.glitch span:first-child {
  animation: glitch 650ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-0.025em, -0.0125em);
  /* color: green; */
  opacity: 0.8;
}

.glitch span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
  transform: translate(0.0125em, 0.025em);
  opacity: 0.8;
}



/* HERO */
.hero {
  background-image: linear-gradient(to top, rgb(0, 0, 10), rgb(3, 2, 44));
  height: 100vh;
  color: white;
  overflow-x: hidden;
}

.filled-text {
  position: absolute;
  top: 1100px;
  left: 100px;
  z-index: 1;
  font-size: 100px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  animation: glitch 500ms infinite;
  


}
.outline-text{
  position: absolute;
  top: 1100px;
  left: 100px;
  z-index: 3;
  font-size: 100px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: ghostwhite;
  color: transparent;
}

.img-hero {
  position: absolute;
  top: 950px;
  left: 600px;
  z-index: 2;
  height: 400px;
  width: auto;
  animation: glitch2 500ms infinite;
  
}

.hero2 {
  background-image: linear-gradient(to top, rgb(0, 0, 10), rgb(3, 2, 44));
  height: 100vh;
  color: white;
  overflow-x: hidden;
	/* overflow-y: scroll; */
}


.filled-text2 {
  position: absolute;
  top: 1200px;
  left: 100px;
  z-index: 1;
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 5px;
  font-family: 'Poppins', sans-serif;
  animation: glitch 500ms infinite;


}
.outline-text2{
  position: absolute;
  top: 1200px;
  left: 100px;
  z-index: 3;
  font-size: 50px;
  letter-spacing: 5px;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: ghostwhite;
  color: transparent;
}

.img-hero2 {
  position: absolute;
  top: 950px;
  left: 20px;
  z-index: 2;
  height: 300px;
  width: auto;
  animation: glitch2 500ms infinite;
  
}











/* ANIMATION */

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}

@keyframes glitch2 {
  0% {
    box-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    box-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    box-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    box-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    box-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    box-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    box-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}