@import url(style.css);

/* About */



.about{
    background-image: linear-gradient(to bottom, rgb(0, 0, 10),#9c299c, #ff9aff);
    padding-bottom: 100px;
}

.about h1{
    text-align: center;
    margin-bottom: 50px;
    animation: glitch 500ms infinite;
    color: white;
    font-size: 50px;
}

.about .content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .image img
{
    width: 50vh;
    -webkit-box-shadow: 10px 10px 125px -40px rgba(7,7,227,0.39);
    -moz-box-shadow: 10px 10px 125px -40px rgba(7,7,227,0.39);
    box-shadow: 10px 10px 125px -40px rgba(7,7,227,0.39);
    border-radius: 20px;
}

.content .data {
    width: 50vh;
    margin-left: 100px;
    color: white;
}

.content .data2 pre{
    width: 50vh;
    margin-top: 10px;
}

.content .data2 pre:hover{
    animation: glitch 500ms infinite;
    text-decoration: underline;
}


/* Motivation */
.mot-exp{
    height: 80vh;
    background-image: url('backfoto.jpeg');
    background-size: cover;

}

.mot-exp h1{
    font-size: 40px;
}

.mot-exp .add{
    background-color: rgba(3, 2, 44, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.motivasi {
    height: 75%;
    width: 50vh;
    background-color: transparent;
    color: white;
    perspective: 1000px;
}

.motivasi-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    
}

.motivasi:hover .motivasi-inner{
    transform: rotateY(180deg);
}

.motivasi-front, .motivasi-back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 12px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

}

.motivasi-front{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(3, 2, 44);
    animation: glitch2 2000ms infinite;

}

.motivasi-back{
    transform: rotateY(180deg);
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff9aff;
    padding-right: 20px;
    padding-left: 20px;
    color: rgb(3, 2, 44);

}



/* Expetasi */
.ekspetasi {
    height: 75%;
    width: 50vh;
    background-color: transparent;
    color: white;
    perspective: 1000px;
}

.ekspetasi-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.ekspetasi:hover .ekspetasi-inner{
    transform: rotateY(180deg);
}

.ekspetasi-front, .ekspetasi-back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 12px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.ekspetasi-front{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(3, 2, 44);
    animation: glitch2 2000ms infinite;

}

.ekspetasi-back{
    transform: rotateY(180deg);
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff9aff;
    padding-right: 20px;
    padding-left: 20px;
    color: rgb(3, 2, 44);

}




/* Tech */

.tech{
    height: 40vh;
    background-color: #ff9aff;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.tech img{
    width: 100px;
    height: 100px;
}

.tech div:hover{
    position: relative;
    top: -30px;
    transition: all 2s linear 3s;
}

.tech h1{
    animation: glitch 1000ms infinite;
}


.desc{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    display: none;
    color: rgb(3, 2, 44);
}

.tech div:hover .desc{
    display: block;
    transition-delay: 10s;
    animation: glitch 1000ms infinite;
}



.footer{
    height: 10vh;
    display: flex;
    justify-content: center;
    text-align: center;
    background: #440144;
}

.footer h1{
    color: white;
    padding-top: 20px;
    padding-bottom: -10px;
}