.menu {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: 2px solid#ff9aff;
  box-shadow: 0 0 5px #ff9aff, 0 0 5px #ff9aff inset;
  z-index: 1;
  position: absolute;
  top: 2px;
  left: 2px;
}


* {
  margin: 0;
  padding: 0;
}


.menu::after {
  position: absolute;
  content: "";
  width: 0px;
  height: 62px;
  top: 0px;
  left: 0px;
  z-index: -1;
  border-radius: 50%;
  background: #ff9aff;
  box-shadow:
   0 0 20px  #ff9aff;
  transition: all 0.3s ease;
}

.menu:hover::after {
  left: -2px;
  width: 62px;
  border: none;
}

.menu-collapse.is-active {
  background-color: #ff9aff;
  border: none;
  
}

.menu-collapse.is-active {
  background-color: transparent;
  border:none
}

.hamburger {
  position: absolute;
  display: grid;
  place-items: center;
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  z-index: 5;
  top: -2px;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: #ff9aff;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  transition: all 0.3s ease;
  overflow: visible; }
  .hamburger:hover {
    opacity: 1;
    border-radius: 50%;
  }
.hamburger-box {
  margin-top: 3px;
  width: 30px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger:hover .hamburger-inner{
  background-color: white;
  box-shadow: 0 0 5px #ff9aff;
}

.hamburger:hover .hamburger-inner::after{
  box-shadow: 0 0 5px white;
  background-color: white;
}
.hamburger:hover .hamburger-inner::before{
  box-shadow: 0 0 5px white;
  background-color: white;
}


.hamburger-inner {
  display: block;
  box-shadow: 0 0 5px #ff9aff;
  top: 50%;
  box-shadow: 0 0 5px #ff9aff;
  margin-top: -2px; 
}
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 30px;
    height: 4px;
    background-color: #ff9aff;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
  box-shadow: 0 0 5px #ff9aff;
    top: -10px; }
  .hamburger-inner::after {
  box-shadow: 0 0 5px #ff9aff;

    bottom: -10px; }

.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--collapse .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
  .hamburger--collapse .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  box-shadow: none;
  background-color: white;
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--collapse.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    background-color: white;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; }
  .hamburger--collapse.is-active .hamburger-inner::before {
    top: 0;
    box-shadow: none;
    background-color: white;
    transform: rotate(-90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }


    